#toDrag{
  border:0px solid red;
  -webkit-user-select:none;
  -webkit-app-region:drag;
}

#body{
  width:600px;height:450px;background-color:#0099FF;margin:0px;padding:0px;position:relative;
}

#container{
  border:0px solid #99FFCC;width:600px;height:450px;margin:0px;
}

.clickedList{
  color:white;
}

.jqx-fill-state-pressed{
  background-color:#99FFCC;
}

#list .playing{
  color:gray;
  font-family:bold;
  background: #99FFCC;
}

#list div{
  overflow:hidden;height:15px;
}

/*#list span:hover{
  color:white;font-size:15px;
}*/

#list span{
  font-size:15px;
  color:#99FFCC;
}

#list span:hover{
  white;
}

/*#foot span:hover{
  color:white;
}*/

/*#pause:hover{
  border:1px solid white;
}*/

/*#header span:hover{
  color:white;
}*/

#list div:hover{
  color:gray;
  cursor:default;
  background: #99FFCC;
}

#player span:hover{
  color:white;
}

#nabar:hover{
  color:white;
}

#upload:hover{
  color:black;
}

#configWindow input{
  margin-top: 10px;
}

.music{
  margin-top:5px;
}

.theme1{
  background-color:#53e3a6;
}

.sub1{
  border-bottom:2px solid #99FFCC;
}


#header{
  color:#99FFCC;height:20px;width:100%;border-bottom:2px solid white;margin-top:5px;
}

#showList{
  width:15%;height:375px;border-bottom:2px solid white;float:left;border-right:2px solid white;
}

#nabar{
  border-bottom:2px solid white;height:30px;font-size:12px;
}

#showImage{
  width:85%;height:375px;border-bottom:2px solid white;float:left;color:white;
}

#configWindow{
  color:white;position:absolute;left:150px;top:50px;width:300px;height:200px;border-radius:5px;border:1px solid #99FFCC;box-shadow:4px 4px 4px rgba(0,0,0,0.5);
}

.confTheme{
  background-color:#0099FF;
}

#logo{
  display:inline-block;float:left;color:white;
}

#toDrag{
  width:85%;height:20px;float:left;margin-left:5px;
}

#close{
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  right: 10px;
  top: 0;
  text-align: center;
  line-height: 22px;
}

#closeConfig{
  display: inline-block;
  width: 25px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 3px 0 0;
  text-align: center;
  line-height: 24px;
}

#closeConfig:hover{
  background: #FF0033;
}

#close:hover{
  background: #FF0033;
}

#minimize{
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  right: 34px;
  top: 0;
  text-align: center;
  line-height: 22px;
}

#minimize:hover{
  background:#0099FF;
}

#config{
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  right: 56px;
  top: 0;
  text-align: center;
  line-height: 22px;
}

#config:hover{
  background:#0099FF;
}

#main{
  width:100%;height:375px;
}

#nabarTitle{
  display:inline-block;margin-top:5px;margin-left:5px;
}

#list{
  font-size:11px;overflow:hidden;height:347px;color:white;
}

#showMusicName{
  height:350px;width:100%;text-align:center;color:white;border:0px solid red;margin-top:10px;position:relative;
}

#musicName{
  height:30px;width:100%;text-align:center;position:absolute;top:100px;
}

/*@-webkit-keyframes nameShow
{
0%   {color: red;}
25%  {color: yellow;}
50%  {color: blue;}
100% {color: green;}
}

#showMusicName{
  -webkit-animation-name: nameShow;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}*/

#foot{
  width:100%;height:40px;margin-top:5px;color:#99FFCC;border:0px solid red;
}

#control1{
  height:40px;float:left;
}

#last{
  font-size:20px;margin-top:5px;
}

#pause{
  font-size:20px;display:inline-block;border:0px solid;border-radius:10px;padding-bottom:1px;
}

#next{
  font-size:20px;
}

#control2{
  height:40px;float:right;margin-top:3px;margin-left:10px;
}

#control3{
  height:40px;float:left;padding-left:15px;border:0px solid red;
}

#showTime{
  float:left;margin-top:7px;
}

#volumeControl{
  position:fixed;top:278px;left:522px;background-color:white;height:120px;width:30px;display:none;
}

#changeVolume{
  margin:10px 11px;
}

#turnUp{
  font-size:20px;display:inline-block;margin-left:7px;margin-top:6px;
}

#order{
  font-size:15px;display:inline-block;margin-left:3px;margin-bottom:10px;
}

#repeatDiv{
  float:right;border:0px solid red;padding-left:5px;padding-top:9px;
}

#lastPage{
  diaplay:inline-block;margin-left:0px;
}

#nextPage{
  diaplay:inline-block;margin-left:40px;
}








///
